@font-face {
    font-family: "Junction";
    src: url("junction.ttf");
}

body, header, h1, h2, h3, h4, h5, h6 {
    font-family: helvetica, sans-serif;
    line-height: 1em;
}

article {
    display: block;
    position: relative;
    padding: 0;
    outline: none;
}

article header {
    border-top: solid 1px #eee;
    padding: 1ex 0;
}

article h1 {
    font-size: 120%;
    font-weight: bold;
    color: #777;
    line-height: 1.5em;
    height: 1.5em;
}

a {
    color: #668;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: #777;
}

p a:hover {
    text-decoration: underline;
}

p a:visited {
    color: #448;
}

code {
    display: block;
    color: #999;
    font-family: 'Droid Sans Mono', fixed;
    white-space: pre-wrap;
    line-height: 1.2em;
    margin: 1ex;
}

p code {
    display: inline;
    font-size: 90%;
    margin: 0;
    line-height: inherit;
}

em {
    font-style: italic;
    color: #999;
}

article {
    font-family: "Junction", "Times New Roman", "Times", serif;
    text-align: justify;
    line-height: 1.5em;
    color: #777;
}

dl {
    position: relative;
}

dt {
    clear: both;
    float: left;
    font-weight: bold;
}

dt:after {
    content: ":";
}

dd {
    padding-left: 4em;
}

p {
    padding: 0.5ex 0;
    text-align: justify;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

strong {
    font-weight: bolder;
}

hr {
    border: none;
    border-top: solid 1px #eee;
}

ul {
    list-style: disc;
    padding-left: 2em;
}

ol {
    list-style-type: decimal;
    padding-left: 2em;
}

article blockquote {
    margin: 1ex 2em;
    color: #777;
    font-size: 0.7em;
    text-align: justify;
}

article p, article li, article dt, article dl, article code {
    font-size: 0.8em;
}

.gwt-DialogBox {
    background-color: white;
    border: solid 1px #d2d2d2;
    color: #888;
    box-shadow: 0 0 5px #888;
    z-index: 100;
}

.dialogTop {
    background-color: #f1f1f1;
    border-bottom: solid 1px #d2d2d2;
}

.dialogTop .Caption {
    padding: 1ex 1em;
    font-weight: bold;
    font-size: 120%;
    display: block;
}

.dialogCenter {
    padding: 2px;
}